In [1]:
import numpy as np
import pandas as pd

# Pandas Exercises

## Exercise 1: Sales Data Analysis

In [2]:
np.random.seed(42)
dates = pd.date_range('2023-01-01', '2023-03-31')
products = ['Laptop', 'Phone', 'Tablet', 'Monitor', 'Keyboard']
regions = ['North', 'South', 'East', 'West']

sales_data = pd.DataFrame({
    'Date': np.random.choice(dates, 500),
    'Product': np.random.choice(products, 500),
    'Region': np.random.choice(regions, 500),
    'Units_Sold': np.random.randint(1, 20, 500),
    'Unit_Price': np.random.uniform(100, 2000, 500).round(2),
    'Customer_ID': np.random.randint(1000, 1100, 500)
})
sales_data['Total_Sales'] = sales_data['Units_Sold'] * sales_data['Unit_Price']

In [4]:
# analyze the data
sales_data.head()

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60

In [6]:
# check for the shape
sales_data.shape

(500, 7)

In [8]:
# check the information null values, and dtype
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         500 non-null    datetime64[ns]
 1   Product      500 non-null    object
 2   Region       500 non-null    object
 3   Units_Sold   500 non-null    int32
 4   Unit_Price   500 non-null    float64
 5   Customer_ID  500 non-null    int32
 6   Total_Sales  500 non-null    float64
dtypes: datetime64[ns](1), float64(2), int32(2), object(2)
memory usage: 23.6+ KB

null values count by `isna()` and `info()`

In [ ]:
# np.nan
# NaN
# None

In [ ]:
# '?'
# ######
# ------

In [12]:
sales_data.isna?

Signature: sales_data.isna() -> 'DataFrame'
Docstring:
Detect missing values.

Return a boolean same-sized object indicating if the values are NA.
NA values, such as None or :attr:`numpy.NaN`, gets mapped to True
values.
Everything else gets mapped to False values. Characters such as empty
strings ``''`` or :attr:`numpy.inf` are not considered NA values
(unless you set ``pandas.options.mode.use_inf_as_na = True``).

Returns
-------
DataFrame
    Mask of bool values for each element in DataFrame that
    indicates whether an element is an NA value.

See Also
--------
DataFrame.isnull : Alias of isna.
DataFrame.notna : Boolean inverse of isna.
DataFrame.dropna : Omit axes labels with missing values.
isna : Top-level isna.

Examples
--------
Show which entries in a DataFrame are NA.

>>> df = pd.DataFrame(dict(age=[5, 6, np.nan],
...                        born=[pd.NaT, pd.Timestamp('1939-05-27'),
...                              pd.Timestamp('1940-04-25')],
...                        name=['Alfred', 'Batman', ''],
...                        toy=[None, 'Batmobile', 'Joker']))
>>> df
   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

>>> df.isna()
     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

Show which entries in a Series are NA.

>>> ser = pd.Series([5, 6, np.nan])
>>> ser
0    5.0
1    6.0
2    NaN
dtype: float64

>>> ser.isna()
0    False
1    False
2     True
dtype: bool
File:      c:\users\avina\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [13]:
sales_data.isna().sum()

Date           0
Product        0
Region         0
Units_Sold     0
Unit_Price     0
Customer_ID    0
Total_Sales    0
dtype: int64

In [15]:
# stats measure
sales_data.describe()

,Date,Units_Sold,Unit_Price,Customer_ID,Total_Sales
count,500,500.000000,500.000000,500.000000,500.000000
mean,2023-02-13 07:26:23.999999744,10.054000,1038.592700,1049.500000,10346.006300
min,2023-01-01 00:00:00,1.000000,100.630000,1000.000000,124.160000
25%,2023-01-22 00:00:00,5.000000,562.865000,1024.000000,3608.475000
50%,2023-02-13 12:00:00,10.000000,1057.750000,1049.000000,8299.140000
75%,2023-03-05 00:00:00,15.000000,1513.830000,1073.000000,15261.470000
max,2023-03-31 00:00:00,19.000000,1991.410000,1099.000000,34340.580000
std,NaN,5.393446,536.397786,28.644214,8101.725382

In [ ]:
# std
# var
# mean
# sum
# max
# min
# mode
# median

In [16]:
sales_data['Units_Sold'].var()

29.089262525050092

In [18]:
sales_data[['Product', 'Units_Sold']].head()

    Product  Units_Sold
0  Keyboard          12
1   Monitor          15
2     Phone           9
3  Keyboard          13
4    Tablet          15

In [ ]:
x = np.array([
    [1,2],
    [3,4]
])

x

array([[1, 2],
       [3, 4]])

In [ ]:
x[0]

array([1, 2])

In [ ]:
# loc
# iloc

In [19]:
sales_data.head()

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60

`loc` v/s `iloc`

In [20]:
sales_data.iloc[0]

Date           2023-02-21 00:00:00
Product                   Keyboard
Region                       North
Units_Sold                      12
Unit_Price                 1948.89
Customer_ID                   1002
Total_Sales               23386.68
Name: 0, dtype: object

In [22]:
sales_data.iloc[2,3:]

Units_Sold           9
Unit_Price      583.03
Customer_ID       1079
Total_Sales    5247.27
Name: 2, dtype: object

In [23]:
sales_data.iloc[2,:] # sales_data[2]

Date           2023-03-13 00:00:00
Product                      Phone
Region                       North
Units_Sold                       9
Unit_Price                  583.03
Customer_ID                   1079
Total_Sales                5247.27
Name: 2, dtype: object

In [24]:
sales_data.iloc[:,2]

0      North
1      South
2      North
3      North
4      North
       ...
495    South
496     West
497    North
498    South
499    North
Name: Region, Length: 500, dtype: object

In [27]:
X = pd.DataFrame({
    'A': [12, 13, 14, 15],
    'B' : ['x', 'y', 'z','w'],
    'C': [12, '0',12, 3]
}, index=['b','a', '1', '2'])

X

    A  B   C
b  12  x  12
a  13  y   0
1  14  z  12
2  15  w   3

In [30]:
X.loc["a"]

A    13
B     y
C     0
Name: a, dtype: object

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, b to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      object
 2   C       4 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

changing dtype

In [ ]:
X['C'] = X['C'].astype(int)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, b to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      object
 2   C       4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes

In [ ]:
X.iloc[2]

A    14
B     z
C    12
Name: 1, dtype: object

In [ ]:
X.loc['1', 'A']

np.int64(14)

`head`, `tail` and `sample`

In [31]:
sales_data.head(n=10)

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60
5,2023-03-24,Phone,North,10,1111.27,1003,11112.70
6,2023-03-28,Tablet,East,16,338.91,1023,5422.56
7,2023-03-16,Laptop,East,7,352.16,1033,2465.12
8,2023-03-16,Phone,North,17,372.73,1029,6336.41
9,2023-03-29,Keyboard,South,7,1885.66,1081,13199.62

In [32]:
sales_data.tail()

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
495,2023-02-09,Keyboard,South,10,444.51,1032,4445.10
496,2023-03-15,Laptop,West,18,836.58,1072,15058.44
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62
498,2023-02-13,Tablet,South,2,1761.10,1008,3522.20
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78

In [33]:
sales_data.sample(5)

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
57,2023-03-12,Tablet,East,12,1258.68,1060,15104.16
180,2023-01-03,Tablet,West,13,1316.32,1057,17112.16
431,2023-01-01,Laptop,West,5,1159.85,1086,5799.25
183,2023-01-27,Laptop,East,10,1392.25,1038,13922.50
5,2023-03-24,Phone,North,10,1111.27,1003,11112.70

In [36]:
sales_data.select_dtypes('number').head()

   Units_Sold  Unit_Price  Customer_ID  Total_Sales
0          12     1948.89         1002     23386.68
1          15     1202.21         1087     18033.15
2           9      583.03         1079      5247.27
3          13     1091.29         1057     14186.77
4          15      751.04         1054     11265.60

### Tasks:

1. **Basic Indexing**:
   - Select all sales from the 'North' region
   - Select sales of 'Laptop' or 'Phone' with more than 10 units sold
   - Select columns 'Product', 'Region', and 'Total_Sales' for all records

2. **Grouping Operations**:
   - Find the total sales by product
   - Calculate the average units sold by region
   - Find the top 3 customers by total spending

3. **Filtering**:
   - Find all sales above $5000
   - Find the most expensive single sale for each product
   - Find all sales that occurred on weekends

4. **Apply Functions**:
   - Create a new column 'Price_Category' that labels each sale as:
     - 'Budget' if Unit_Price < 300
     - 'Mid-Range' if 300  Unit_Price < 1000
     - 'Premium' if Unit_Price  1000

In [37]:
# Solution
sales_data.head()

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60

### 1.1.1

In [39]:
# solution
sales_data[sales_data["Region"]=="North"]

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60
5,2023-03-24,Phone,North,10,1111.27,1003,11112.70
...,...,...,...,...,...,...,...
489,2023-02-20,Tablet,North,5,361.86,1020,1809.30
490,2023-02-12,Tablet,North,1,1359.78,1068,1359.78
492,2023-03-08,Tablet,North,19,438.91,1019,8339.29
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78

### 1.1.2

In [40]:
sales_data.head(2)

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15

In [60]:
# solution
# | for or
# & for and
# ~ for not

condition = ((sales_data["Product"] == "Laptop") | (sales_data["Product"] == "Phone")) & (sales_data['Units_Sold']>10)
sales_data[condition]['Total_Sales'].sum()

np.float64(1519521.8700000003)

In [61]:
sales_data.isin?

Signature: sales_data.isin(values: 'Series | DataFrame | Sequence | Mapping') -> 'DataFrame'
Docstring:
Whether each element in the DataFrame is contained in values.

Parameters
----------
values : iterable, Series, DataFrame or dict
    The result will only be true at a location if all the
    labels match. If `values` is a Series, that's the index. If
    `values` is a dict, the keys must be the column names,
    which must match. If `values` is a DataFrame,
    then both the index and column labels must match.

Returns
-------
DataFrame
    DataFrame of booleans showing whether each element in the DataFrame
    is contained in values.

See Also
--------
DataFrame.eq: Equality test for DataFrame.
Series.isin: Equivalent method on Series.
Series.str.contains: Test if pattern or regex is contained within a
    string of a Series or Index.

Examples
--------
>>> df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
...                   index=['falcon', 'dog'])
>>> df
        num_legs  num_wings
falcon         2          2
dog            4          0

When ``values`` is a list check whether every value in the DataFrame
is present in the list (which animals have 0 or 2 legs or wings)

>>> df.isin([0, 2])
        num_legs  num_wings
falcon      True       True
dog        False       True

To check if ``values`` is *not* in the DataFrame, use the ``~`` operator:

>>> ~df.isin([0, 2])
        num_legs  num_wings
falcon     False      False
dog         True      False

When ``values`` is a dict, we can pass values to check for each
column separately:

>>> df.isin({'num_wings': [0, 3]})
        num_legs  num_wings
falcon     False      False
dog        False       True

When ``values`` is a Series or DataFrame the index and column must
match. Note that 'falcon' does not match based on the number of legs
in other.

>>> other = pd.DataFrame({'num_legs': [8, 3], 'num_wings': [0, 2]},
...                      index=['spider', 'falcon'])
>>> df.isin(other)
        num_legs  num_wings
falcon     False       True
dog        False      False
File:      c:\users\avina\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

### 1.1.3

In [65]:
# Select columns 'Product', 'Region', and 'Total_Sales' for all records
# solution
sales_data.loc[:,["Product","Region","Total_Sales"]]

      Product Region  Total_Sales
0    Keyboard  North     23386.68
1     Monitor  South     18033.15
2       Phone  North      5247.27
3    Keyboard  North     14186.77
4      Tablet  North     11265.60
..        ...    ...          ...
495  Keyboard  South      4445.10
496    Laptop   West     15058.44
497   Monitor  North      9508.62
498    Tablet  South      3522.20
499   Monitor  North     19245.78

[500 rows x 3 columns]

### 1.2

In [ ]:
# solution
# Find the total sales by product

In [ ]:
sales_data

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60
...,...,...,...,...,...,...,...
495,2023-02-09,Keyboard,South,10,444.51,1032,4445.10
496,2023-03-15,Laptop,West,18,836.58,1072,15058.44
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62
498,2023-02-13,Tablet,South,2,1761.10,1008,3522.20
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78

In [ ]:
sales_data.groupby('Product')[['Total_Sales', 'Unit_Price']].sum()

          Total_Sales  Unit_Price
Product
Keyboard   1074551.96   109916.34
Laptop     1199835.35   114321.10
Monitor     950987.34    90647.54
Phone       959547.49    98381.09
Tablet      988081.01   106030.28

In [ ]:
sales_data

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60
...,...,...,...,...,...,...,...
495,2023-02-09,Keyboard,South,10,444.51,1032,4445.10
496,2023-03-15,Laptop,West,18,836.58,1072,15058.44
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62
498,2023-02-13,Tablet,South,2,1761.10,1008,3522.20
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78

### 1.2.2

In [ ]:
# Calculate the average units sold by region

In [ ]:
sales_data.groupby('Region')['Units_Sold'].mean()

Region
East      9.875000
North    10.395522
South     9.968504
West      9.945946
Name: Units_Sold, dtype: float64

### 1.2.3

In [ ]:
# Find the top 3 customers by total spending

sales_data.groupby('Customer_ID')['Total_Sales'].sum().sort_values(ascending=False).head(3)

Customer_ID
1047    127658.62
1013    124894.36
1063    121376.18
Name: Total_Sales, dtype: float64

In [ ]:
sales_data.sort_values(by=['Total_Sales', 'Unit_Price'], ascending=False)

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
71,2023-02-23,Keyboard,West,18,1907.81,1068,34340.58
351,2023-01-24,Phone,East,18,1867.61,1040,33616.98
417,2023-01-13,Tablet,East,18,1863.80,1013,33548.40
314,2023-01-08,Keyboard,East,17,1931.26,1024,32831.42
398,2023-03-27,Keyboard,South,18,1802.05,1013,32436.90
...,...,...,...,...,...,...,...
202,2023-02-25,Laptop,East,3,102.35,1050,307.05
209,2023-01-01,Laptop,South,2,138.05,1059,276.10
41,2023-02-20,Keyboard,East,1,271.92,1032,271.92
64,2023-02-05,Keyboard,West,1,127.87,1080,127.87
420,2023-01-17,Monitor,East,1,124.16,1061,124.16

In [ ]:
sales_data.sort_values?

1.3.3

In [ ]:
# Find all sales that occurred on weekends

In [ ]:
sales_data['Date'].dtype

dtype('<M8[ns]')

In [ ]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         500 non-null    datetime64[ns]
 1   Product      500 non-null    object
 2   Region       500 non-null    object
 3   Units_Sold   500 non-null    int64
 4   Unit_Price   500 non-null    float64
 5   Customer_ID  500 non-null    int64
 6   Total_Sales  500 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 27.5+ KB

In [ ]:
# pd.to_datetime(sales_data['Date'])

In [ ]:
# sales_data['Date'].dt.

0      1
1      6
2      0
3      3
4      5
      ..
495    3
496    2
497    6
498    0
499    6
Name: Date, Length: 500, dtype: int32

In [ ]:
sales_data['Date'].dt.day_name()

0        Tuesday
1         Sunday
2         Monday
3       Thursday
4       Saturday
         ...
495     Thursday
496    Wednesday
497       Sunday
498       Monday
499       Sunday
Name: Date, Length: 500, dtype: object

In [ ]:
sales_data['Date'].dt.weekday

0      1
1      6
2      0
3      3
4      5
      ..
495    3
496    2
497    6
498    0
499    6
Name: Date, Length: 500, dtype: int32

In [ ]:
pd.date_range(start='2025-09-23',end='2025-09-30')

pandas.core.indexes.datetimes.DatetimeIndex

### 1.4

Create a new column 'Price_Category' that labels each sale as:
'Budget' if Unit_Price < 300
'Mid-Range' if 300  Unit_Price < 1000
'Premium' if Unit_Price  1000

In [ ]:
sales_data

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60
...,...,...,...,...,...,...,...
495,2023-02-09,Keyboard,South,10,444.51,1032,4445.10
496,2023-03-15,Laptop,West,18,836.58,1072,15058.44
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62
498,2023-02-13,Tablet,South,2,1761.10,1008,3522.20
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78

In [ ]:
def bin(row):

  if row<300:
    return "Budget"

  elif row>=300 and row<1000:
    return "Mid-Range"

  else:
    return "Premium"


sales_data['Price_Category']  = sales_data['Unit_Price'].apply(bin)
sales_data

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales,Price_Category
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68,Premium
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15,Premium
2,2023-03-13,Phone,North,9,583.03,1079,5247.27,Mid-Range
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77,Premium
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60,Mid-Range
...,...,...,...,...,...,...,...,...
495,2023-02-09,Keyboard,South,10,444.51,1032,4445.10,Mid-Range
496,2023-03-15,Laptop,West,18,836.58,1072,15058.44,Mid-Range
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62,Mid-Range
498,2023-02-13,Tablet,South,2,1761.10,1008,3522.20,Premium
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78,Premium

## Exercise 2: Employee Data Analysis

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(42)
departments = ['Engineering', 'Marketing', 'Finance', 'HR', 'Sales']
positions = ['Junior', 'Mid', 'Senior', 'Manager', 'Director']

employee_data = pd.DataFrame({
    'Employee_ID': range(1001, 1051),
    'Name': [f'Employee_{i}' for i in range(1, 51)],
    'Department': np.random.choice(departments, 50),
    'Position': np.random.choice(positions, 50),
    'Salary': np.random.randint(40000, 150000, 50),
    'Join_Date': pd.to_datetime(np.random.choice(pd.date_range('2018-01-01', '2023-01-01'), 50)),
    'Performance_Score': np.random.randint(1, 101, 50)
})

In [ ]:
# analyze the data

### Tasks:

1. **Basic Operations**:
   - Find all employees in Engineering with salary > $80,000
   - Count the number of employees in each department
   - Find the average salary by position level

2. **Time-Based Analysis**:
   - Calculate employee tenure in years. Suppose the end date is `'2023-01-01'`
   - Find employees who joined in 2020
   - Calculate the average performance score by year of joining

3. **Advanced Grouping**:
   - For each department, find the highest and lowest salary
   - Find departments where the average performance score is above 70

4. **Apply and Transform**:
   - Apply a 5% salary increase to all employees with performance score > 80

### 2.1

In [ ]:
# solution

### 2.2

In [ ]:
# Solution

### 2.3

In [ ]:
# Solution

### 2.4

In [ ]:
# Solution

## Exercise 3: Customer Behavior Analysis

In [ ]:
customers = pd.DataFrame({
    'Customer_ID': range(1000, 1020),
    'Age': np.random.randint(18, 70, 20),
    'Gender': np.random.choice(['M', 'F'], 20),
    'Income': np.random.choice(['Low', 'Medium', 'High'], 20, p=[0.4, 0.5, 0.1]),
    'Join_Date': pd.to_datetime(np.random.choice(pd.date_range('2020-01-01', '2023-01-01'), 20))
})

transactions = pd.DataFrame({
    'Transaction_ID': range(5000, 5100),
    'Customer_ID': np.random.choice(customers['Customer_ID'], 100),
    'Date': pd.to_datetime(np.random.choice(pd.date_range('2023-01-01', '2023-03-31'), 100)),
    'Amount': np.random.uniform(5, 500, 100).round(2),
    'Category': np.random.choice(['Electronics', 'Clothing', 'Groceries', 'Entertainment'], 100)
})

In [ ]:
# analyze


### Tasks:

1. **Data Merging**:
   - Merge customer data with transaction data
   - Find customers with no transactions (left join)

2. **Customer Segmentation**:
   - Group customers by age brackets (18-25, 26-35, etc.) and analyze spending
   - Calculate average transaction amount by income level

In [ ]:
# Solution

In [ ]:
# Left DataFrame (df1)       Right DataFrame (df2)
# +------------+-----+       +------------+-------+
# | customer_id| val |       | customer_id| val2  |
# +------------+-----+       +------------+-------+
# |     1      |  A  |       |     1      |   X   |
# |     2      |  B  |       |     3      |   Y   |
# |     3      |  C  |       |     4      |   Z   |
# +------------+-----+       +------------+-------+

In [ ]:
df1 = pd.DataFrame({
    'customer_id': [1,2,3],
    'val':['A', 'B', 'C']
})

df2 = pd.DataFrame({
    'customer_id': [1,3,4],
    'val2': ['X', 'Y', 'Z']
})

df1

   customer_id val
0            1   A
1            2   B
2            3   C

In [ ]:
df2

   customer_id val2
0            1    X
1            3    Y
2            4    Z

In [ ]:
pd.merge(df1, df2, how='inner', on='customer_id')

   customer_id val val2
0            1   A    X
1            3   C    Y

In [ ]:
df1

   customer_id val
0            1   A
1            2   B
2            3   C

In [ ]:
pd.merge(df1, df2, how='left', on='customer_id')

   customer_id val val2
0            1   A    X
1            2   B  NaN
2            3   C    Y

In [ ]:
pd.merge(df1, df2, how='right', on='customer_id')

   customer_id  val val2
0            1    A    X
1            3    C    Y
2            4  NaN    Z

In [ ]:
pd.merge(df1, df2, how='outer', on='customer_id')

   customer_id  val val2
0            1    A    X
1            2    B  NaN
2            3    C    Y
3            4  NaN    Z

In [ ]:
pd.merge(df1, df2, how='cross')

   customer_id_x val  customer_id_y val2
0              1   A              1    X
1              1   A              3    Y
2              1   A              4    Z
3              2   B              1    X
4              2   B              3    Y
5              2   B              4    Z
6              3   C              1    X
7              3   C              3    Y
8              3   C              4    Z

In [ ]:
pd.merge?