#### Datatype

##### 1. Definition:
- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

##### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

##### Interger example

In [1]:
age = 35
type(age)

int

##### Floating point datatype

In [2]:
height =5.11
print(height)
print(type(height))

5.11
<class 'float'>

##### string example

In [3]:
name ="Avinash"
print(name)
print(type(name))

Avinash
<class 'str'>

##### boolean datatype

In [4]:
is_true =True
type(is_true)

bool

In [5]:
bool()

False

In [6]:
a =10
b =10
a == b

True

In [7]:
type(a==b)

bool

##### common error

In [8]:
result = 'Hello' + 5

TypeError: can only concatenate str (not "int") to str

In [9]:
result = 'Hello' + str(5)
result

'Hello5'