#### Operators

##### Arithmatic Operation

In [3]:
a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [4]:
21 /5

4.2

In [5]:
21 //5

4

##### Comparison operators

In [7]:
## == equal to
a = 10
b = 10

a == b

True

In [8]:
str1 ="Avinash"
str2="avinash"

str1 == str2

False

In [9]:
## Not equal to !=
str1 != str2

True

In [10]:

# greater than >

num1=45
num2=55

num1>num2

False

In [11]:
## less than <

print(num1<num2)

True

In [12]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [13]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

##### Logical Operators

In [14]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [15]:
X=False
Y=True

result =X and Y
print(result)

False

In [16]:

## OR
X=False
Y=False

result =X or Y
print(result)

False

In [17]:
# Not operator
X=False
not X

True

In [18]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 14.0
Subtraction: 10.0
Multiplication: 24.0
Division: 6.0
Floor Division: 6.0
Modulus: 0.0
Exponentiation: 144.0