### Querying Series

In [1]:
import pandas as pd

In [2]:
students_scores ={"Alice":"Physics",
                  "Jack":"Chemistry",
                  "Molly": "English",
                  "Sam":"History"}
s =pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

#### iloc vs loc


##### iloc (Index Location)

- Meaning: Used to access rows and columns by integer (numeric) position.

- Think of it as: “I want the item at this position (number)”
- Syntax:-
  - df.iloc[row_index, column_index]

In [3]:
s.iloc[3]

'History'

##### loc (Label Location)

- Meaning: Used to access rows and columns by labels or names.

- Think of it as: “I want the item with this label/name”
- Syntax:-
  - df.loc[row_label, column_label]

In [4]:
s.loc["Molly"]

'English'

In [5]:
s[3]

C:\Users\avina\AppData\Local\Temp\ipykernel_15468\3172538273.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[3]

'History'

In [6]:
s["Molly"]

'English'

In [7]:
class_code = {99:"Physics",
              100:"Chemistry",
              101:"English",
              102:"History"}
s=pd.Series(class_code)
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [8]:
## s[0] - we can't do this

In [9]:
s.iloc[0]

'Physics'

In [10]:
s[99]

'Physics'

In [11]:
grades =pd.Series([90,80,70,60])
total = 0
for grade in grades:
    total +=grade
print(total/len(grades))

75.0

In [12]:
import numpy as np

In [13]:
total =np.sum(grades)
print(total/len(grades))

75.0

In [14]:
numbers =pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    968
1    141
2    663
3    510
4    437
dtype: int32

In [15]:
numbers=numbers +2
numbers.head()

0    970
1    143
2    665
3    512
4    439
dtype: int32

In [16]:
s=pd.Series([1,2,3])
s.loc["History"] =102
s

0            1
1            2
2            3
History    102
dtype: int64

In [28]:
students_classes ={"Alice":"Physics",
                  "Jack":"Chemistry",
                  "Molly": "English",
                  "Sam":"History"}
s =pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [29]:
kelly_classes =pd.Series(["Philosophy","Arts","Maths"],index=["kelly","Kelly","Kelly"])
kelly_classes

kelly    Philosophy
Kelly          Arts
Kelly         Maths
dtype: object

In [31]:
all_students_classes = pd.concat([s, kelly_classes])
all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
kelly    Philosophy
Kelly          Arts
Kelly         Maths
dtype: object

In [33]:
all_students_classes.loc["Kelly"]

Kelly     Arts
Kelly    Maths
dtype: object