#### Series

In [1]:
import pandas as pd

##### Create series with array

In [4]:
students = ["Avi","Aditya","Molly"]
pd.Series(students)

0       Avi
1    Aditya
2     Molly
dtype: object

In [5]:
numbers =[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
students = ["avi","Aditya",None]
pd.Series(students)

0       avi
1    Aditya
2      None
dtype: object

In [8]:
numbers =[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

- so NaN is floating point number and here it conver whole series into int to float

In [9]:
import numpy as np

In [10]:
np.nan == None

False

In [11]:
np.nan == np.nan

False

In [12]:
np.isnan(np.nan)

np.True_

##### Create series with dictionary

In [21]:
students_scores ={"Alice":"Physics",
                  "Jack":"Chemistry",
                  "Molly": "English"}
s =pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [14]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [15]:
students =[("Alice","Brown"),("Jack","white"),("Molly","Green")]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, white)
2    (Molly, Green)
dtype: object

In [20]:
s =pd.Series(["Physics","Chemistry","English"],index=["Alice","Jack","Molly"])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [19]:
students_scores ={"Alice":"Physics",
                  "Jack":"Chemistry",
                  "Molly": "English"}
s =pd.Series(students_scores,index=["Alice","Molly","Sam"])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object